body {
  background: linear-gradient(to bottom, #87CEEB, #1E90FF);
  color: azure;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.App {
  text-align: center;
}

.logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  text-transform: capitalize;
}

#hoursLc p {
  text-transform: none;

}

#cityInput{
  border-radius: .5rem;
  border: none;
  width: 50%;  
  font-size: 100%;
}

#submit{
  border-radius: 50%;
  border: none;
  margin-left: 0.2rem;
  background-color: rgb(102, 252, 88);
  color: azure;
  width: 2rem; 
  height: 2rem; 
  }

#mainTemp{
  font-size: 4rem;
  margin-top: 1%; 
  margin-bottom: 1%;
}

.forecast-container {
  margin-left: .25rem;
  margin-right: .25rem;
  margin-bottom: 1rem;  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  flex-direction: row; 
  overflow-y: hidden;
}

.forecast-item {
  width: 100%; 
  margin: 0%; /* Spacing between items */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  white-space: nowrap;
  background: linear-gradient(to top, #87CEEB, #1E90FF);
}


